[submodule "pkgs/fzf"]
	path = pkgs/fzf
	url = https://github.com/junegunn/fzf

[submodule "pkgs/tmux"]
	path = pkgs/tmux
	url = https://github.com/tmux/tmux

[submodule "pkgs/neovim"]
	path = pkgs/neovim
	url = https://github.com/neovim/neovim
