[submodule "pkgs/fzf"]
	path = pkgs/fzf
	url = https://github.com/junegunn/fzf
[submodule "pkgs/tmux"]
	path = pkgs/tmux
	url = https://github.com/tmux/tmux
[submodule "pkgs/base16-shell"]
	path = pkgs/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "pkgs/fzy"]
	path = pkgs/fzy
	url = https://github.com/jhawthorn/fzy
[submodule "pkgs/emacs"]
	path = pkgs/emacs
	url = https://github.com/emacs-mirror/emacs
[submodule "pkgs/xcape"]
	path = pkgs/xcape
	url = https://github.com/alols/xcape
