[submodule "pkgs/fzf"]
	path = pkgs/fzf
	url = https://github.com/junegunn/fzf
[submodule "pkgs/tmux"]
	path = pkgs/tmux
	url = https://github.com/tmux/tmux
[submodule "pkgs/base16-shell"]
	path = pkgs/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
